@model Kima.Usuario

@{
    ViewBag.Title = "Perfil";
}


<legend style="margin-top:45px"><h2>Mi perfil</h2></legend>

<div>
    <div class="well">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombre)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.cedula)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.cedula)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.edad)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.edad)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.domicilio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.domicilio)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.proced_quirurgico)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.proced_quirurgico)
            </dd>

        </dl>



    </div>
</div>

<div id="Botones_aceptar_cancelar" class="col-md-offset-8 col-md-3">
    @Html.ActionLink("Editar", "Edit", new { id = Model.id } , new { @class = "btn btn-primary btn-lg btn-block" })
</div>
