<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")


</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">

            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Kima", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                        <li id="A1">@Html.ActionLink("Perfil", "Details", "Usuarios", new { id = Session["idLoggead"] }, null)</li>
                        <li id="A2">@Html.ActionLink("Enfermedades", "Create", "Enfermedads")</li>
                        <li id="A3">@Html.ActionLink("Medicamentos", "Create", "Medicinas")</li>
                        <li id="A4">@Html.ActionLink("Eventos", "Create", "Eventoes")</li>
                    </ul>
                </div>
            </div>
</div>
    <div class="container body-content">
        @RenderBody()
        <hr />
  
    </div>
    <!-- Start Footer Section -->
    <footer>
        <div class="container">
            <div class="row footer-widgets">

                <!-- Start Subscribe & Social Links Widget -->
                <div class="col-md-6 col-xs-12">
                    <div class="footer-widget social-widget">
                        <h4>Síguenos<span class="head-line"></span></h4>
                    </div>
                </div>
                <!-- .col-md-3 -->
                <!-- End Subscribe & Social Links Widget -->
                <!-- Start Contact Widget -->
                <div class="col-md-6 col-xs-12">
                    <div class="footer-widget contact-widget">
                        <h4>Kíma<span class="head-line"></span></h4>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                        <p>Teléfono: +01 234 567 890 <br>Email: info@Kima.com <br> Website: www.Kima.com</p>
                    </div>
                </div>
                <!-- .col-md-3 -->
                <!-- End Contact Widget -->

            </div>
            <!-- .row -->
            <!-- Start Copyright -->
            <div class="copyright-section">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; @DateTime.Now.Year - Kíma - Todos los Derechos Resevados.</p>
                    </div>
                    <!-- .col-md-6 -->
                    <div class="col-md-6">
                        <ul class="footer-nav">
                            <li>
                                <a href="#"> Diseño de tema: Margo, GrayGrids</a>
                            </li>
                        </ul>
                    </div>
                    <!-- .col-md-6 -->
                </div>
                <!-- .row -->
            </div>
            <!-- End Copyright -->
        </div>
    </footer>
    <!-- End Footer Section -->  
    
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
