<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Kíma</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")


</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">

            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Kíma", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                        
                        @{
                            if(Session["idLoggead"] !=null)
                            {
                                 <li id="A1">@Html.ActionLink("Perfil", "Details", "Usuarios", new {id = Session["idLoggead"]}, null)</li>
                                 <li id="A2">@Html.ActionLink("Enfermedades", "Index", "Enfermedads")</li>
                                 <li id="A3">@Html.ActionLink("Medicamentos", "Index", "Medicinas")</li>
                                <li id="A4">@Html.ActionLink("Eventos", "Index", "Eventoes")</li>
                                <li id="A2">@Html.ActionLink("Salir del sistema", "Logout", "Login")</li>
                            }
                            else
                            {
                                <li id="A2">@Html.ActionLink("Ingresar/Registrarse", "Login", "Login")</li>
                            }
                        }
                    </ul>
                </div>
            </div>
</div>
    <div class="container body-content">
        @RenderBody()
<br/>
        <br />
    </div>

    <div class="footer">
        <div class="cuerpo-footer">
            <div class="container">
                <footer>
                    <div class="row">
                        <div class="col-xs-12">
                            <h6 class="text-center"><a href="mailto:contacts.admin@oet.ac.cr">Contáctenos</a> | OET &copy; Copyright @DateTime.Now.Year - Todos los derechos reservados. </h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h6 class="text-center"> Por favor reporte cualquier problema o solicite asistencia a <a href="mailto:contacts.admin@oet.ac.cr">contacts.admin@oet.ac.cr</a></h6>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="cuerpo-footer">
            <div class="container">
                <footer>
                    <div class="row">
                        <div class="col-xs-12">
                            <h6 class="text-center">&copy; @DateTime.Now.Year - Kíma - Los Doroteos - Todos los Derechos Resevados.</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h6 class="text-center">Equipo Desarrollador</h6>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
