@model Kima.Enfermedad

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Está seguro que desea eliminar esta enfermedad?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_diagnostico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_diagnostico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ultimo_evento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ultimo_evento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> | @Html.ActionLink("Cancelar", "Index")
        </div>
    }
</div>
