@model Kima.Enfermedad

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
   <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_diagnostico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_diagnostico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ultimo_evento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ultimo_evento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Cancelar", "Index")
</p>
