@model Kima.Enfermedad

@{
    ViewBag.Title = "Details";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("[id$=A2]").addClass("active");
    });
</script>

<legend style="margin-top:45px"><h2>Detalles</h2></legend>

<div>
    <div class="well">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.fecha_diagnostico)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fecha_diagnostico)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ultimo_evento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ultimo_evento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tipo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tipo)
            </dd>

        </dl>

    </div>
</div>

<div class="form-group">
    <div id="Botones_aceptar_cancelar" class="col-md-offset-8 col-md-12">
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id },new { @class = "btn btn-primary btn-lg" } ) |
        @Html.ActionLink("Cancelar", "Index")
    </div>
</div>
