@model Kima.Medicinas

@{
    ViewBag.Title = "Details";
}

<legend style="margin-top:45px"><h2>Detalles Medicamento</h2></legend>

<div>
    <div class="well">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.detalles)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.detalles)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.dosis)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.dosis)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.frecuencia)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.frecuencia)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tipo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tipo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.info_compra)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.info_compra)
            </dd>

        </dl>
    </div>
</div>


<div id="Botones_aceptar_cancelar" class="col-md-offset-8 col-md-3">
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary btn-lg btn-block" })
</div>
