@model IEnumerable<Kima.Medicinas>

@{
    ViewBag.Title = "Medicamento";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("[id$=A3]").addClass("active");
    });
</script>

<legend style="margin-top:45px"><h2>Medicamento</h2></legend>


<p>
    @Html.ActionLink("Agregar nuevo", "Create")
</p>
<div class="well">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.detalles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.frecuencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.info_compra)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.detalles)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dosis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.frecuencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.info_compra)
                </td>
                <td>
                    <a href='@Url.Action("Delete", "Medicinas", new {nombre = item.nombre })' class="btn btn-primary"> Eliminar </a> 
                </td>
                <td>
                    
                </td>
            </tr>
}

    </table>
</div>
